
.post-container {
    padding-top:  61px;
}

.post-body *{
	width: 100%;
	line-height: 1.5em;
}

.post-prop {
    padding:10px;
}

.post-prop-value {
    margin: 0 5px; 
}

.post-icon {
    width: auto;
}

.back-button {
	width: auto;
	font-size: 14px;
	background-color: #fafafa;
}

.list-item {
	font-size: 18px;
	line-height: 2em;
}

.list-item-title {
}