<!DOCTYPE html>
{{ "<!-- _default/list.html -->" | safeHTML }}
<html lang="{{ .Site.LanguageCode }}" dir="ltr">

    <head>
        {{ partial "head.html" . }}
        <link rel="stylesheet" href="{{ "css/post.css" | absURL }}" type="text/css">
    </head>

    <body>

        {{ partial "nav.html" . }}

        {{ partial "header.html" . }}

        {{ partial "list.html" . }}

        <div class="text-center">
            <button class="back-button btn btn-default" role="button" onclick="window.history.go(-1)">back</button>
        </div>

        {{ partial "footer.html" }}

        {{ partial "js.html" . }}
        
        {{ template "_internal/google_analytics.html" . }}

    </body>

</html>
