<!DOCTYPE html>
{{ "<!-- _default/single.html -->" | safeHTML }}
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

    <head>
        {{ partial "head.html" . }}
    </head>

    <body>

        {{ partial "nav.html" . }}

        {{ partial "header.html" . }}

        <section class="container post-container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <ul class="text-center list-inline item-details post-prop"> 
                        {{ if .Params.categories }}
                        <li>Categories:
                            {{ range .Params.categories }} 
                                <strong class="post-prop-value"><a href="{{ $.Site.BaseURL }}categories/{{ . | lower }}">{{ . }}</a></strong>
                            {{ end }}
                        </li>
                        {{ end }}

                        {{ if .Params.tags }}
                        <li>Tags:
                            {{ range .Params.tags }} 
                                <strong class="post-prop-value"><a href="#">{{ . }}</a></strong>
                            {{ end }}
                        </li>
                        {{ end }}

                       
                    </ul>
                    <article class="post-body markdown-body">

                        {{ with .Content }}
                            {{ . | markdownify }}
                        {{ end }}

                    </article>
                </div>
            </div>
        </section>

        {{ partial "elements/backbutton.html" . }}

        {{ partial "footer.html" }}

        {{ partial "js.html" . }}
        
        {{ template "_internal/google_analytics.html" . }}

    </body>

</html>
