<!DOCTYPE html>
{{ "<!-- _default/single.html -->" | safeHTML }}
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

    <head>
        {{ partial "head.html" . }}
    </head>

    <body>

        {{ partial "nav.html" . }}

        {{ partial "header.html" . }}

        <section class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <article class="post-body">

                        {{ with .Content }}
                            {{ . | markdownify }}
                        {{ end }}

                    </article>
                </div>
            </div>
        </section>

        {{ partial "elements/backbutton.html" . }}

        {{ partial "footer.html" }}

        {{ partial "js.html" . }}
        
        {{ template "_internal/google_analytics.html" . }}

    </body>

</html>
