<section class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

            {{ range .Pages.GroupByDate "2006-01" }}
                <h3>{{ .Key }}</h3>
                <ul>
                    {{ range .Pages }}
                        <li class="list-item">
                            <a href="{{ .Permalink }}" class="list-item-title">{{ .Title }}</a>
                        </li>
                    {{ end }}
                </ul>
            {{ end }}
        
        </div>
    </div>
</section>