{{ "<!-- HEADER -->" | safeHTML }}
<header class="semi-header" style="background-image:url({{ .Site.BaseURL }}background/{{ index (shuffle .Site.Params.hero.backgrounds) 0 }})">
    <div class="header-content">
        <div class="header-content-inner">
            {{ with .Page.Title }}
                <h1>{{ . | markdownify  }}</h1>
            {{ end }}
            <hr>

            {{ if .Description }}
                <p>{{ .Description | markdownify }}</p>
            {{ else if .Scratch.Get "description" }}
                <p>{{ .Scratch.Get "description" | markdownify }}</p>
            {{ end }}

            <div class="text-center">
                <ul class="list-inline item-details">
                {{ if .Params.date }}
                    <li>
                        <strong>{{ .Params.date | dateFormat "Monday,  Jan 2,  2006" }}</strong>
                    </li>
                {{ end }}
                {{ if .Params.category }}
                    <li>Category: 
                        <strong>{{ .Params.category }}</strong>
                    </li>
                {{ end }}
                </ul>
            </div>
        </div>
    </div>
</header>
