<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            {{ range .Site.Data.taxonomyMeta.categories.order }}
                {{ $term := index $.Site.Data.taxonomyMeta.categories.terms . }}
                <div class="col-lg-4 col-sm-6">
                    <a href="#portfolioModal{{ $term.modalID }}" class="portfolio-box portfolio-link" data-toggle="modal">
                        <img src="img/portfolio/{{ $term.img }}" class="img-responsive" alt="">
                        {{ if and $term.title $term.colouredText }}
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    {{ with $term.colouredText }}
                                        <div class="project-category text-faded">
                                            {{ . }}
                                        </div>
                                    {{ end }}
                                    {{ with $term.title }}
                                        <div class="project-name">
                                            {{ . }}
                                        </div>
                                    {{ end }}
                                </div>
                            </div>
                        {{ end }}
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
</section>
